// Google fonts:
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

// Color imports:
@import 'base/colors-fonts';

// Header styles
@import 'layout/header';

// Hero styles
@import 'layout/hero';

// Content styles
@import 'layout/content';

// Reset CSS

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAACNJREFUCB1j5BRU/c+AAM+ZEGyG50C2JEwAzAFJggTgHJAAAMz2BS2A94PbAAAAAElFTkSuQmCC)
    repeat;
  font-family: $montserrat;
}
