.header_container {
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
  color: $white;

  .logo {
    margin: 0 auto;
    width: 100%;

    img {
      width: 130px;
    }

    .logo-copy {
      margin: 0 auto;
      text-align: center;
      font-size: 25px;
      width: 200px;
      & p:first-child {
        font-weight: 900;
      }
      & p:nth-child(2) {
        font-weight: 500;
      }
    }
  }

  .country-info {
    margin: 30px auto 0 auto;
    font-size: 30px;
    width: 100px;
    font-weight: 600;
    letter-spacing: 5px;
    color: $navy;
    border-radius: 5px;
    background: rgba($white, 0.5);
  }
}

@media all and (min-width: 600px) {
  .header_container {
    margin-left: 80px;
    margin-bottom: 15px;

    .logo {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 400px;
      margin-left: 20px;

      .logo-copy {
        text-align: left;
        font-size: 28px;
        width: 500px;
      }
    }
    .country-info {
      width: 100px;
      text-align: center;
      margin-top: -40px;
      margin-right: 100px;
    }
  }
}
